<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Шаблон компонента</title>

  <!-- Модуль для взаимодействия с сервером Авторского Комикса -->
  <script defer src="/js/legacyClient.js"></script>

  <!-- Форма аутентификации ТОЛЬКО для дев-сервера (этого скрипта не будет на продакшене) -->
  <script defer src="/js/devServerUi.js?"></script>

  <!-- Подключение скрипта компонента -->
  <script defer src="/template/template.js"></script>

  <!-- Подключение стилей компонента -->
  <script defer src="/template/template.css"></script>

</head>

<body>

  <p>Здесь HTML-код компонента.</p>

</body>
</html>
